.gongyinglianfangan{
	margin: auto;
	height: 550px;
	width: 1519px;
	background: url(../img/xinwen.jpg) no-repeat;
	background-position: -180px;
}
.gongyinglianfangan-h3{
	text-align: center;
	font-size: 48px;
	color: white;
	font-weight: 500;
	padding-top: 170px;
	padding-bottom: 20px;
}
.gongyinglianfangan-p{
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	width: 1200px;
	margin: auto;
	color: white;
}
.tiyan{
	display: inline-block;
	width: 160px;
	height: 45px;
	background: #f39800;
	border-radius: 20px;
    color: #fff;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
  	margin-top: 50px;
  	cursor: pointer;
}
.list{
	width: 1200px;
	height: 85px;
	margin: auto;
	
}
.list a{
	text-align: center;
	line-height: 85px;
	height: 85px;
	font-size: 26px;
	text-decoration: none;
	color: #000000;
	width: 235px;
}
.table{
	cursor: pointer;
	width: 100%;
	background-color: #F5F5F5;
	height: 550px;
}
.table-box{
	
	width: 1200px;
	margin: auto;
	
}
.table-list-image{
	width: 356px;
	height: 268px;
	overflow: hidden;
}
.table-list-image img{
	transition: .5s;
	width: 356px;
	height: 268px;
}
.table-list{
	width: 356px;
	display: inline-block;
}
.table-list-font{
	background-color: white;
	width: 316px;
	height: 110px;
	padding: 20px;
}
.table-list-font h3{
	font-weight: 500;
	transition: .5s;
	font-size:18px ;
}
.table-list-font span{
	display: inline-block;
    color: #9d9d9d;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}
.table-list-font p{
	font-size: 14px;
    color: #666;
    margin-top: 5px;
}
